.nav-bar {
    display: flex; 
   justify-content: flex-end; 
}

.nav-bar ul{
	list-style: none;
	display: flex; 
	flex-direction : row; 
	margin-left: 2em;
}

.nav-bar li{
	margin: 0px 30px; 
}
.nav-bar a{
	text-decoration:none; 
	color:#000000;
}

.nav-bar a:hover{
	text-decoration: underline;
}

.icone-menu{
	width: 30px;
	height: 30px;
	opacity: 0.55;
}

.icone-menu:hover{
opacity: 0.85;
}


.btn-connexion{
	background-color: #5088f2;
	padding: 5px 12px;
	color: #ffffff!important;
}
.btn-connexion a:hover{
	text-decoration: none!important;
}
